.App {
  width: 100vw;
  height: 100vh;
  background-color: white;

  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  align-content: flex-start;
}

.App-content{
  border: 3px solid black;
  width: 500px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-content: flex-start;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(150, 150, 128);  
}

.Buttons{
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.button{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 10px;
  width:80;
  height: 80;
  padding: 20px 20px;
  background-color: #1E88E5;
  border: 3px solid black;
  color: #fff;
}

.button:hover{
  padding: 20px 20px;
  background-color: #fff;
  border: 3px solid black;
  color: #1E88E5;
}

.button:active{
  padding: 20px 20px;
  background-color:rgb(167, 167, 167);
  border: 3px solid black;
  color: #1E88E5;
}

.Scoreboard {
  padding: 15px 32px;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  background-color: rgb(229, 229, 194);
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(150, 150, 128);
  font-weight: bolder;
  align-items: center;
  font-size: 32px;
}

.Counters{
  display: flex;
  flex-direction: row;
}

.Win-counter{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 28px;
}

.Loss-counter{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 28px;
}


.Images{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.Image-labels{
  font-size: 24px;
  display: flex;
  flex-direction: row;
  border-radius: 5%;
  background-color: rgb(229, 229, 194);
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(150, 150, 128);
  font-weight: bolder;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 32px;
  align-content: space-around;
}

.Player{
  padding: 15px 32px;
  font-size: 24;
}

.Computer{
  padding: 15px 32px;
}






