.App {
  width: 100vw;
  height: 100vh;
  background-color: beige;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space space-between;
  align-content: center;
}

.App-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.Buttons{
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.button{
  display: flex;
  justify-content: center;
  margin: 10px;
  width:80;
  height: 80;
  padding: 20px 20px;
  background-color: #1E88E5;
  border: 3px solid black;
  color: #fff;
}

.button:hover{
  padding: 20px 20px;
  background-color: #fff;
  border: 3px solid black;
  color: #1E88E5;
}

.button:active{
  padding: 20px 20px;
  background-color:rgb(167, 167, 167);
  border: 3px solid black;
  color: #1E88E5;
}

.Win-counter{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Loss-counter{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.Tie-counter{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Scoreboard {
  padding: 15px 32px;
  display: flex;
  flex-direction: column;
  background-color: #4CAF50; /* Green */
  color: white;
  font-weight: bolder;
  align-items: center;
  font-size: 24px;
}

.Images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

.Image-labels{
  display: flex;
  flex-direction: row;
  background-color: #4CAF50; /* Green */
  color: white;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  padding: 15px 32px;
  align-content: center;
}

.Player{
  padding: 15px 32px;
}

.Computer{
  padding: 15px 32px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(184, 176, 176);
}

.App-link {
  color: #61dafb;
}


